<div class="min-wrapper">
  <div class="games-page">
    <div class="content-wrapper ps-0 border-0">
      <div class="page-title d-lg-flex d-none">
        <h3>
          <div class="d-flex align-items-center gap-1">
            <span class="material-symbols-outlined fs-2"> view_cozy </span>
            SPORTS
          </div>
          <small>Choose from over 1000 teams available every day!</small>
        </h3>
        <div class="preview__slider">
          <swiper-container autoplay="true" delay="1000">
            <swiper-slide>
              <a class="rounded" routerLink="/inplay">
                <img
                  src="https://upload.4rabet4.com/storage/231488/EN_Upper_Lott.png"
                  class="img-fluid rounded"
                  alt=""
                />
              </a>
            </swiper-slide>
            <swiper-slide>
              <a class="rounded" routerLink="/inplay">
                <img
                  src="https://upload.4rabet4.com/storage/223285/EN_Upper.png"
                  class="img-fluid rounded"
                  alt=""
                />
              </a>
            </swiper-slide>
            <swiper-slide>
              <a class="rounded" routerLink="/inplay">
                <img
                  src="https://upload.4rabet4.com/storage/233027/15.05_Upper_IPL.png"
                  class="img-fluid rounded"
                  alt=""
                />
              </a>
            </swiper-slide>
            <swiper-slide>
              <a class="rounded" routerLink="/inplay">
                <img
                  src="https://upload.4rabet4.com/storage/231369/EN_Upper_IPL24.png"
                  class="img-fluid rounded"
                  alt=""
                />
              </a>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
      <div class="inplay">
        <div class="row">
          <div class="col-lg-3 col-md-4 pe-md-0">
            <app-leftaside></app-leftaside>
          </div>
          <div class="col-lg-9 col-md-8 ps-md-0">
            <h3
              class="text-white px-md-3 px-2 pt-3 pb-2 fw-bold d-flex align-items-center gap-1"
            >
              <span class="material-symbols-outlined text-danger fs-1">
                online_prediction
              </span>
              Live
            </h3>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" routerLink="#"
                  ><span class="material-symbols-outlined">
                    sports_cricket </span
                  >Cricket</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#"
                  ><span class="material-symbols-outlined"> sports_soccer </span
                  >Soccer</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="#"
                  ><span class="material-symbols-outlined"> sports_tennis </span
                  >Tennis</a
                >
              </li>
            </ul>
            <div class="inplay-wrapper">
              <div class="bet-table-body">
                <!-- games card start -->
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Sunrisers Hyderabad v Gujarat Titans
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- games card end -->
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Mumbai Indians v Lucknow Super Giants
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              England Women v Pakistan Women
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Royal Challengers Bengaluru v Chennai Kings
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Mumbai Indians v Lucknow Super Giants
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              England Women v Pakistan Women
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Royal Challengers Bengaluru v Chennai Kings
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Mumbai Indians v Lucknow Super Giants
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              England Women v Pakistan Women
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Royal Challengers Bengaluru v Chennai Kings
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Mumbai Indians v Lucknow Super Giants
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              England Women v Pakistan Women
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Royal Challengers Bengaluru v Chennai Kings
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Mumbai Indians v Lucknow Super Giants
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              England Women v Pakistan Women
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bet-table-box">
                  <div class="bet-table-row row">
                    <div class="col-md-5 px-md-3 px-0">
                      <div class="game-title">
                        <div class="game-name d-inline-block">
                          <a routerLink="/inplay"
                            ><p class="team-name text-left">
                              Royal Challengers Bengaluru v Chennai Kings
                            </p></a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 pe-0 ps-md-auto ps-0 d-flex">
                      <div class="point-title suspended">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                      <div class="point-title">
                        <div class="back bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                        <div class="lay bl-box">
                          <span class="d-block odds"> 1 </span>
                          <small>12.0</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
    <app-rightaside></app-rightaside>
  </div>
</div>
