<div class="banner-slider">
  <swiper-container
    pagination="true"
    pagination-clickable="true"
    autoplay="true"
    delay="1000"
  >
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/231582/India_en_Casino_iPhone20poi-(2).jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/231828/India_en_Casino_Smart4RABET.jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/232778/India_en_Casino_Hall-of-Win-(2).png"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/232854/India_en_Casino_FootballStudio.png"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/223284/EN_Casino-(1).jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/224395/India_en_Casino_JetX.jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/231368/India_en_Casino_IPL24.jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
    <swiper-slide>
      <a class="banner-item-link" routerLink="/casino">
        <img
          src="https://upload.4rabet4.com/storage/231540/India_en_Casino_Lottery.jpg"
          class="img-fluid"
          alt=""
        />
      </a>
    </swiper-slide>
  </swiper-container>
</div>
