<!-- Modal -->
<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="changePasswordLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content h-100">
      <div class="h-100 modal-body p-0">
        <div class="h-100 row g-0">
          <div class="h-100 col-md-6 d-md-block d-none">
            <div class="v-card">
              <img
                src="https://ifrd.4rabet4.com/img/registration-modal-HI-IPL.webp?v=1"
                class="modal__content-item-img"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="v-card right-form">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
              <form class="h-100">
                <div class="d-flex justify-content-between h-100 flex-column">
                  <div>
                    <div class="form-group">
                      <h4 class="text-white fw-bold text-center mb-3">
                        CHANGE PASSWORD
                      </h4>
                    </div>
                    <div class="form-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        placeholder="Current Password"
                        class="form-control"
                        formControlName="password"
                      />

                      <i
                        alt="show"
                        class="bi bi-eye p-show"
                        (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"
                      ></i>
                      <i
                        alt="hide"
                        class="bi bi-eye-slash p-show"
                        (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"
                      ></i>
                    </div>
                    <div class="form-group">
                      <input
                        [type]="showPasswordNew ? 'text' : 'password'"
                        placeholder="New Password"
                        class="form-control"
                        formControlName="password"
                      />

                      <i
                        alt="show"
                        class="bi bi-eye p-show"
                        (click)="showPasswordNew = !showPasswordNew"
                        [class.hide]="showPasswordNew"
                      ></i>
                      <i
                        alt="hide"
                        class="bi bi-eye-slash p-show"
                        (click)="showPasswordNew = !showPasswordNew"
                        [class.hide]="!showPasswordNew"
                      ></i>
                    </div>
                    <div class="form-group">
                      <input
                        [type]="showPasswordConfirm ? 'text' : 'password'"
                        placeholder="Confirm Password"
                        class="form-control"
                        formControlName="password"
                      />

                      <i
                        alt="show"
                        class="bi bi-eye p-show"
                        (click)="showPasswordConfirm = !showPasswordConfirm"
                        [class.hide]="showPasswordConfirm"
                      ></i>
                      <i
                        alt="hide"
                        class="bi bi-eye-slash p-show"
                        (click)="showPasswordConfirm = !showPasswordConfirm"
                        [class.hide]="!showPasswordConfirm"
                      ></i>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <button class="btn btn-primary w-100">
                        Change Password
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
