<div class="min-wrapper">
  <app-casino-leftaside></app-casino-leftaside>
  <div class="content-wrapper">
    <div class="page-title d-lg-flex d-none">
      <h3 class="d-flex mb-0 align-items-center gap-2">
        <span class="material-symbols-outlined fs-2"> cards </span>
        Matka
      </h3>
    </div>
    <div class="group-slots pt-4">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/matka-details">
            <div class="matka-card">
              <p class="new-label">New</p>
              <p class="date">
                <strong class="fw-medium">May 16, 2024, 09:30 AM</strong
                >&nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 05:00 PM</strong
                >
                &nbsp;|&nbsp;<strong class="fw-medium"
                  >May 16, 2024, 06:15 PM</strong
                >
              </p>
              <h5 class="game-name">FARIDABAD</h5>
              <p class="text-button mb-0">
                OPEN
                <span class="material-symbols-outlined m-icon">
                  arrow_right
                </span>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <app-rightaside></app-rightaside>
</div>
