<aside class="l-leftbar">
  <div class="l-leftbar__container">
    <div class="l-leftbar__inner">
      <div class="title-block">
        <div class="title-block__inner">
          <p class="mb-0 title-block__text">User Profile</p>
        </div>
      </div>
      <nav class="menu">
        <ul class="menu_list">
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/account-statement" class="menu_link">
              <span class="material-symbols-outlined icon">
                account_balance_wallet
              </span>
              <span class="menu__content">
                <span class="menu__text">Account Statement</span></span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/profit-loss" class="menu_link"><span class="material-symbols-outlined icon">
                swap_vert</span>
              <span class="menu__content"><span class="menu__text">Profit and Loss</span></span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/bet-history" class="menu_link"><span class="material-symbols-outlined icon"> history</span>
              <span class="menu__content">
                <span class="menu__text">Sport Bet History</span></span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/deposit" class="menu_link">
              <span class="material-symbols-outlined icon"> savings</span>
              <span class="menu__content"><span class="menu__text">Deposit</span>
              </span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/withdraw" class="menu_link">
              <span class="material-symbols-outlined icon"> payments</span>
              <span class="menu__content"><span class="menu__text">Withdraw</span>
              </span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/" data-bs-toggle="modal" data-bs-target="#changePassword" class="menu_link"><span
                class="material-symbols-outlined icon"> lock</span>
              <span class="menu__content"><span class="menu__text">Change Password</span>
              </span></a>
          </li>
          <li class="menu_item" routerLinkActive="active">
            <a routerLink="/" class="menu_link"><span class="material-symbols-outlined icon"> logout</span>
              <span class="menu__content"><span class="menu__text">Logout</span>
              </span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>