<header class="mobile__btns bottom-nav d-lg-none d-block">
  <ul class="bottom-nav__list">
    <li class="bottom-nav__item">
      <a routerLink="/" class="bottom-nav__btn" routerLinkActive="active">
        <span class="material-symbols-outlined"> action_key </span> MAIN</a
      >
    </li>
    <li class="bottom-nav__item">
      <a routerLink="/inplay" class="bottom-nav__btn" routerLinkActive="active">
        <span class="material-symbols-outlined"> cast </span>Live</a
      >
    </li>
    <li class="bottom-nav__item">
      <a routerLink="/casino" class="bottom-nav__btn" routerLinkActive="active">
        <span class="material-symbols-outlined"> poker_chip </span>Casino</a
      >
    </li>
    <li class="bottom-nav__item">
      <a
        routerLink="/live-casino"
        class="bottom-nav__btn"
        routerLinkActive="active"
      >
        <span class="material-symbols-outlined"> casino </span>Live casino</a
      >
    </li>
    <li class="bottom-nav__item">
      <a routerLink="/sports" class="bottom-nav__btn" routerLinkActive="active">
        <span class="material-symbols-outlined"> sports_soccer </span>Sports</a
      >
    </li>
    <li class="bottom-nav__item">
      <a routerLink="/bonus" class="bottom-nav__btn" routerLinkActive="active"
        ><span class="material-symbols-outlined">
          featured_seasonal_and_gifts
        </span>
        Boneses</a
      >
    </li>
  </ul>
</header>