<aside class="l-rightbar d-lg-block d-none">
  <div class="l-rightbar__container">
    <nav class="cat-nav">
      <ul class="cat-nav__list">
        <li class="cat-nav__item" style="cursor: pointer">
          <a
            href="/sports/cricket/india/indian-premier-league-1710528586840150016"
            class="cat-nav__link"
            ><div>
              <img
                src="https://ifrd.4rabet4.com/img/main/betby/sports/ipl24.svg"
                width="36"
                height="36"
                alt="ipl24"
              />
              <br />
              <p class="cat-nav__name ipl">IPL</p>
            </div></a
          >
        </li>
        <li class="cat-nav__item" style="cursor: pointer">
          <div class="cat-nav__link">
            <img
              src="https://ifrd.4rabet4.com/img/aviatrix-text.webp"
              alt="aviatrix"
              width="60"
              height="16"
            />
          </div>
        </li>
      </ul>
    </nav>
  </div>
</aside>
