<footer>
  <div class="container-lg">
    <div>
      <div>
        <h1 class="fw-bold">
          Online Betting Basics: What Can You Find At 4RABET?
        </h1>
        <p class="mb-0">
          Online betting sites such as 4RABET give you the chance to bet on
          something from your favorite sport.
        </p>
        <div class="collapse" id="collapseFooter">
          <div class="collapsable-inner">
            <p>
              Since online betting in India has expanded to cover non-sporting
              events, you can also bet for almost everything under the sun.
              These include public-vote television shows like the X-Factor or
              Love Island.
            </p>
            <p>
              You can also bet on awards ceremonies such as Sports Personality
              of the Year and even the results of political voting across the
              world.
            </p>
            <p>
              Bettors can take risks in a huge range of sporting event markets.
              There will always be standard outright winners of specific
              tournaments and games. Interestingly, markets for more intricate
              match details such as goalscorers are also available.
            </p>
            <p>
              Just like in football, you can find a lot of specific markets.
              Some markets you can bet on include handicap betting, under-over
              betting on goals, goalscorers, assists, where players score from,
              corners, cards, hitting the woodwork, and a lot more.
            </p>
            <p>
              With 4RABET, you can get free sports tips for matches in the major
              leagues. You can also find markets for finer events of almost all
              major sports and sporting leagues.
            </p>
            <p>
              These include
              <a href="https://4rabet4.com/live/cricket">cricket</a>,
              <a href="https://4rabet4.com/sports/football">football</a>,
              <a href="https://4rabet4.com/sports/tennis">tennis</a>,
              <a href="https://4rabet4.com/sports/horse-racing">horse racing</a
              >, and <a href="https://4rabet4.com/sports/baseball">baseball</a>.
              You can also bet on 4RABET’s online casino and TV games. And
              that’s not at all! You can easily bet on any of your favorite
              games available on our website:
            </p>
            <ol>
              <li>
                <a href="https://4rabet4.com/casino/slots">Casino slots</a>
                and games;
              </li>
              <li>
                Different
                <a href="https://4rabet4.com/live-dealers/">live dealers</a>;
              </li>
              <li>
                <a href="https://4rabet4.com/casino/roulette">Roulette</a>;
              </li>
              <li>
                <a href="https://4rabet4.com/casino/baccarat">Baccarat</a>
                (both live and game);
              </li>
              <li>
                <a href="https://4rabet4.com/casino/lottery"
                  >Online casino lottery</a
                >;
              </li>
            </ol>
            <p>
              Also, there are plenty of other games like poker, board and table
              games, blackjack, bingo, andar bahar, dice, and many, many more!
            </p>
            <h2>Quick Facts About 4Rabet Original Website</h2>
            <p>
              4Rabet is one of the most popular gaming platforms for casino
              games and betting tournaments, offering lucrative bonuses and a
              wide range of offers. We have to tell you a lot, but first and
              foremost we’d like to give you a few quick shots to meet the
              4Rabet. Here’s why we think you’ll find the 4Rabet casino &amp;
              betting website as you number 1 way to spend your time with joy:
            </p>
            <div class="table-responsive">
              <table>
                <tbody>
                  <tr>
                    <td>📜 Gaming License</td>
                    <td>Curacao Gaming Authority</td>
                  </tr>
                  <tr>
                    <td>📧 Customer Support</td>
                    <td>24/7 Live Chat and email</td>
                  </tr>
                  <tr>
                    <td>🎰 Casino Games</td>
                    <td>Slots, Baccarat, Roulette, Blackjack, Poker, etc.</td>
                  </tr>
                  <tr>
                    <td>🏏 Betting Games</td>
                    <td>
                      Cricket, e-Cricket, Football, Basketball, Tennis, Hockey,
                      Boxing, etc.
                    </td>
                  </tr>
                  <tr>
                    <td>💵 Minimum Deposit</td>
                    <td>10 Rupees</td>
                  </tr>
                  <tr>
                    <td>💰 Minimum Withdrawal</td>
                    <td>2000 Rupees</td>
                  </tr>
                  <tr>
                    <td>📱 Mobile App</td>
                    <td>4Rabet App for Android and iOS</td>
                  </tr>
                  <tr>
                    <td>⌛ Withdrawal Terms</td>
                    <td>Up to 5 days</td>
                  </tr>
                  <tr>
                    <td>💲 Payment Methods</td>
                    <td>Cryptocurrencies, UPI, PayTM, PhonePE, etc.</td>
                  </tr>
                  <tr>
                    <td>🎁 Bonuses</td>
                    <td>700% Up To 90.000 INR</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h2>Advantages of 4Rabet Online Sports Betting</h2>
            <p>
              Online betting in India became more popular because of several
              reasons. Here are the advantages of online sports betting:
            </p>
            <h3>Convenience</h3>
            <p>
              The primary reason why people bet online is the sheer convenience
              they get from it.
            </p>
            <p>
              The most significant aspect of convenience is time savings. You
              can place a number of sports wagers within a period of minutes
              through online betting.
            </p>
            <p>
              It might be the same with placing bets at a local brick-and-mortar
              sportsbook. However, you have to get yourself to and from that
              local sportsbook to make a bet.
            </p>
            <p>
              Plus, the majority of the people have hectic schedules and busy
              lives. Placing wagers in a short period of time can help you bet
              more.
            </p>
            <p>
              Additionally, an online betting site such as 4RABET can save you
              money. By keeping you from having to make a trek to the local
              brick-and-mortar sportsbook you get to save your precious time.
            </p>
            <p>
              Using your phone, tablet, or laptop, you can place bets in a
              matter of minutes instead of spending money on fuel and traveling
              back and forth from a local brick-and-mortar sportsbook.
            </p>
            <h3>Bonuses and Promotions</h3>
            <p>
              Another advantage of betting online is scoring excellent bonuses.
              You can get promotions through the majority of online betting
              sites.
            </p>
            <p>
              Although a local sportsbook may provide you with a handful of
              betting specials, the chances of finding bonus opportunities
              through online betting in India are way better.
            </p>
            <p>
              The most profitable opportunity from an online sportsbook is the
              welcome bonus. Due to a ton of competition available, online
              betting sites usually offer welcome deals in an attempt to win
              your business.
            </p>
            <p>
              With welcome bonuses, you can earn hundreds of dollars just by
              signing up. You’ll normally receive a certain form of bonus
              deposit on your initial account deposit. You can also earn cash by
              depositing funds.
            </p>
            <p>
              On top of that, you’ll have the chance to earn bonus cash. You can
              also earn other forms of bonuses and promotions. These types of
              offers may include reduced deals and promotions.
            </p>
            <p>
              If you want to use an online betting site that offers lots of
              potential chances to earn bonus funds, sign up at 4RABET now.
            </p>
            <h3>Variety</h3>
            <p>
              Typically, you can find an extensive selection of sports on online
              betting sites. You can also place any type of bet, unlike in most
              brick-and-mortar sportsbooks. With this, you likely get to place
              all of your bets in one place.
            </p>
            <p>
              Additionally, most online betting sites feature an extensive
              selection of things to bet on than a local brick-and-mortar
              sportsbook. Most sportsbooks carry bets on popular sports like
              cricket and football. However, online betting sites edge out the
              local brick-and-mortar when it comes to sports that are rare to
              find like Gaelic sports and futsal.
            </p>
            <p>
              Plus, most online betting sites offer action on esports as well,
              one not commonly found in local brick-and-mortar sportsbooks.
            </p>
            <p>
              Even if you’re not betting on a variety of sports using different
              types of bets, using an online betting site allows you to do it
              later on if you’d like to.
            </p>
            <h3>Improved Odds</h3>
            <p>You’ll often find most online sportsbooks offering odds.</p>
            <p>
              These odds are just a fraction better when compared to ones you
              will find in brick-and-mortar sportsbooks. Though a fraction
              doesn’t sound much, over time, these small wins do add up.
            </p>
            <h3>Broad Payment Options</h3>
            <p>
              The last advantage of online betting in India is that it covers a
              set of payment options.
            </p>
            <p>
              Traditional brick-and-mortar sportsbooks only typically deal in
              cash whenever you’d like to make a bet. However, online betting
              sites allow you to use various deposit methods to fund your
              betting account.
            </p>
            <p>
              You can use credit cards, cryptocurrencies, or e-wallets to fund
              your online sportsbook account. The use of these payment methods
              allows flexibility to fund your account. This also gives you other
              means to make a bet and not get stuck with using cash.
            </p>
            <p>
              Also, if you’re into earning credit card points, you can gain more
              points by funding your online betting account using your card.
              With this strategy, you can rack up money back, hotel points, or
              even airfare points for your next vacation.
            </p>
            <h2>Types of Sports Betting</h2>
            <p>
              Nowadays, you can easily find a vast amount of activities where
              you can place your bets. Here are the types of bets you can place:
            </p>
            <h3>Win Bets and Moneyline Bets</h3>
            <p>
              Win and moneyline bets are interchangeable. Although said
              differently, both mean the same thing. One thing may be called
              over the other depending on where you live.
            </p>
            <p>
              Most people refer to this bet as a money line wager. Bettors in
              the United States mostly prefer this term. The same kind of wager
              is called a win bet in the rest of the globe.
            </p>
            <p>
              This type of bet is the most basic one, no matter what you call
              it. With this type of wager, you just simply have to select your
              bet on who’s going to win the game you bet on.
            </p>
            <p>
              For instance, you bet on an upcoming NBA game between the Golden
              State Warriors and the Los Angeles Lakers.
            </p>
            <p>
              To place a bet, you need to determine which team you think will
              win. If you believe that the Lakers will win the game, then you
              must place a win bet on the Lakers. If the Lakers win the game,
              you’ll win your wager.
            </p>
            <h3>Totals and Over or Under Bets</h3>
            <p>
              This type of wager has two interchangeable names associated with
              it. People in the United States often refer to this bet as total.
              Meanwhile, the rest of the world typically calls it an over or
              under bet.
            </p>
            <p>
              Again, both refer to the same type of sports bet regardless of the
              name.
            </p>
            <p>
              A totals bet is another simple wager that’s great for beginners.
              With a totals bet, the sportsbook issues a specified total
              associated with a sporting event.
            </p>
            <p>
              Oftentimes, the total gets tied to the number of points scored in
              the game you bet on. You have to decide if you think the total
              will come in over or under the number set by the sportsbook when
              placing this type of wager.
            </p>
            <p>
              For example, if we go back to the same game between the Los
              Angeles Lakers and Golden State Warriors, a total line of 199 may
              be set on a sportsbook. You have to bet on over if you believe
              that both teams will earn a combined score of more than 199 points
              in the game.
            </p>
            <p>
              On the contrary, if you feel like the teams will have a combined
              score of less than 199, you have to bet the under. You will win
              your totals bet if you pick correctly.
            </p>
            <h3>Point Spread and Handicap Betting</h3>
            <p>
              These wager types have the same main idea behind them. Through a
              sportsbook, bettors will determine which team they think will win
              the match.
            </p>
            <p>
              Once done, bettors will assign a total number of points. These
              points are what they believe the team will acquire to win the
              game. The bettors will decide if the sportsbook pick will go over
              or under.
            </p>
            <p>
              For instance, let’s again consider a game between the Los Angeles
              Lakers and Golden State Warriors. If a sportsbook posts a point
              spread of 5 points in favor of the Lakers, that means the
              sportsbook expects the Lakers to win by the number of points they
              posted.
            </p>
            <p>
              Then, you’ll have to choose between the sportsbook being high or
              low when placing a point spread wager on this game.
            </p>
            <p>
              If you think that the Lakers will win the game by at least five
              points or more, then you have to bet on the Lakers.
            </p>
            <p>
              However, if you believe that the Warriors will either win or lose
              the game by 4 points or less, then you have to bet on the
              Warriors.
            </p>
            <h3>Futures and Outright Bets</h3>
            <p>
              Futures bets and outright bets mean the same thing in the sports
              betting world. You’ll have to select the winner of the overall
              tournament with this type of sports wager.
            </p>
            <p>
              Mostly, you’ll have to choose your pick before the actual sporting
              event. Thus, the term “futures” got associated with this type of
              bet.
            </p>
            <p>
              A great example of how this type of bet works is when you place
              your bet on the winner of the NBA Finals before the season
              actually starts.
            </p>
            <p>
              In this scenario, you will be placing a wager in advance of the
              actual event taking place.
            </p>
            <p>
              Most of these outright bets are placed far ahead of their
              completion. Hence, they can be tough to correctly pick. You don’t
              have a ton of information about how a specific team will perform
              when betting on a sport before it even begins.
            </p>
            <p>
              Because of this, associated payouts usually become huge. However,
              you must keep in mind that attractive payouts can also mean more
              risky bets.
            </p>
            <h3>Proposition Bets and Specials</h3>
            <p>
              You might consider a proposition bet if you’re looking for
              something different than standard sports bets.
            </p>
            <p>
              Also known as prop bets or specials, this type of wager can be
              made on just anything.
            </p>
            <p>
              For one, you can place prop bets on the team or player that will
              first land a score in a game. Other types of prop bets include the
              time of the first goal in a soccer match.
            </p>
            <p>
              Some even bet on which team player will first score a run during a
              game. Prop bets aren’t only limited to these, as you can place
              your bet on all kinds of different things using this type of
              wager.
            </p>
            <h3>Permutation Betting</h3>
            <p>
              One of the most complicated ones to understand in sports betting
              is permutation betting. This type of sports betting includes
              making multiple selections and placing numerous wagers through the
              combination of the selections.
            </p>
            <p>
              Additionally, this type of sports betting might be too complicated
              for beginners. This is because the wagers on this type of bet are
              difficult.
            </p>
            <h2>How Online Betting Odds Work</h2>
            <p>
              It's important to know how odds work. Knowing how to read sports
              betting lines is also essential. This is because online betting
              sites often display odds differently, depending on the sport and
              the location from where you're betting.
            </p>
            <p>
              Here are three different ways online gambling odds can be
              displayed:
            </p>
            <h3>American Odds</h3>
            <p>
              American odds are also known as US odds or moneyline odds. These
              types of odds are the default online betting odds used by American
              sportsbooks. US odds are centered around winning or wagering $100
              on a given bet. The odds are represented by a plus (+) and minus
              (-) sign indicating the favorite and the underdog.
            </p>
            <p>
              Reading this type of odds is easy. Odds accompanied by a minus (-)
              sign are for favorites.
            </p>
            <p>
              Take -300 as an example. This means that in order to win $100, you
              must bet $300.
            </p>
            <p>
              Meanwhile, odds accompanied by a plus (+) sign are for underdogs.
              Odds of +300, means you can win $300 for every $100 you stake.
            </p>
            <h3>Fractional Odds</h3>
            <p>
              Fractional odds are also called British odds, UK odds, or
              traditional odds. These online betting odds are often used in
              horse racing.
            </p>
            <p>
              This type of online gambling odds quotes the net total. It will
              then be paid out to the bettor if they win. It also factors in
              their stake.
            </p>
            <p>
              For instance, a bettor placing a bet on Manchester United with
              odds of 1/5 can expect a payout of just $1 for every $5 bet made.
              For someone betting $5, one can expect a total payout of $6.
            </p>
            <h3>Decimal Odds</h3>
            <p>
              This type of online gambling odds is most popular in Europe,
              Australia, and Canada.
            </p>
            <p>
              A lot of people think it’s the easiest format to understand.
              Almost all online sportsbooks offer an option to display odds in
              this format.
            </p>
            <p>
              Under the decimal odds, the figure quoted is the exact amount that
              will be paid out if the bet is a winner.
            </p>
            <p>
              The decimal odds number represents the amount you will win for
              every $1 you bet. For decimal odds, the number represents the
              total payout, rather than the profit.
            </p>
            <h2>Getting Started with 4Rabet</h2>
            <h3>Step 1 – Choose a 4Rabet Betting Site</h3>
            <p>
              Choosing a betting site is important for you to have a positive
              online betting experience. You must decide on where to bet and
              consider recommendations on what bets to use.
            </p>
            <p>
              <a href="https://4rabet4.com">4RABET</a>
              is an online betting site that lets you palace bets on sports
              events, an online casino, TV games, and more.
            </p>
            <h3>Step 2 – Login and Registration at 4Rabet</h3>
            <p>Once you’ve chosen a site to use, you must open an account.</p>
            <p>
              Most sites display a “Join Now”, “Create Account” or “Register”
              button somewhere on the top right of the page.
            </p>
            <p>
              You need to click on it. This will bring you to a registration
              form. You’ll have to complete the form with the information
              needed.
            </p>
            <p>
              The required information varies from each site. However, the
              information needed is not usually a lot. The following are the
              most typical information needed:
            </p>
            <ul>
              <li>Full Name</li>
              <li>Date of Birth</li>
              <li>Email Address</li>
            </ul>
            <p>You must also use a username and password.</p>
            <h3>Step 3 – Deposit Funds</h3>
            <p>
              Before placing your bets, you’ll need money in your account. In
              order to do this, you’ll have to deposit funds. Generally, this
              process only takes a few minutes to complete.
            </p>
            <p>
              Usually, a “Deposit” or “Cashier” is displayed somewhere after you
              log in to your account. Once you click on that, it will give you
              access to various banking options available for depositing funds.
            </p>
            <p>
              Other online betting sites offer a wide range of banking options
              available. You then have to choose your preferred payment method.
              Once done, you’ll have to enter the relevant payment details.
            </p>
            <p>
              Typically, funds will be added to your account instantly and can
              be available for immediate use.
            </p>
            <h3>Step 4 – Place Wagers</h3>
            <p>
              Congrats! You’re now ready to place wagers with a funded account.
            </p>
            <p>
              The process varies depending on which online betting site you use.
              However, the basic principle remains the same for all of them.
            </p>
            <p>
              Just navigate the site and find the game that interests you. Then,
              select your chosen wagers and enter the amount you wish to stake.
            </p>
            <p>
              A lot of sites automatically display a selection of events, lines,
              or wagers. This will be displayed as soon as you log in. The
              selections vary from major upcoming events, particularly popular
              lines, or available wagers at enhanced odds.
            </p>
            <p>
              Once you find a wager you wish to bet on, click on it. The wager
              of your choice will then be added to a betting slip.
            </p>
            <p>
              Next, you will be asked to enter the amount you wish to stake.
              After that, you will have to confirm the bet made.
            </p>
            <p>
              A sum of money will be deducted from your account after placing
              your wagers. Payouts gained will be automatically credited to your
              account.
            </p>
            <p>
              Winnings can either be withdrawn or left in the account. The
              winnings lets in your account can be used for betting.
            </p>
            <h2>Conclusion</h2>
            <p>
              Before online betting, you have to walk or drive all the way down
              to local bookies to place a bet. Those times are long gone. With
              the rise of the internet came online betting.
            </p>
            <p>
              Online betting in India is safe and enjoyable. If you win the
              money, you get the money. Just make sure to use reputable online
              betting sites such as 4RABET to avoid scams.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a
      data-bs-toggle="collapse"
      href="#collapseFooter"
      role="button"
      aria-expanded="false"
      aria-controls="collapseFooter"
      style="font-size: 12px"
    >
      Show more...
    </a>
  </div>
</footer>

<footer class="footer2">
  <div class="container-lg">
    <div class="footer__main">
      <div class="footer__menu">
        <div class="row">
          <div class="col-md-3">
            <nav class="footer-menu">
              <ul class="footer-menu__list">
                <div class="collapsable-component pb-2">
                  <div class="collapsable-component__text site-info__text">
                    <li class="footer-menu__item">
                      <a href="https://4ranews.com/" class="footer-menu__link">
                        News
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/terms-and-conditions" class="footer-menu__link">
                        Terms and conditions
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/gaming-policy" class="footer-menu__link">
                        Responsible Gaming Policy
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/bonus-terms" class="footer-menu__link">
                        Bonus Terms
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/rules-page" class="footer-menu__link">
                        Rules for Specific sports
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/privacy-policy" class="footer-menu__link">
                        Privacy Policy
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/aml-kyc" class="footer-menu__link">
                        AML/KYC Policy
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a
                        href="https://4rabetpartner.com/"
                        class="footer-menu__link"
                      >
                        Affiliate program
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/odds" class="footer-menu__link">
                        4rabet Odds &amp; Predictions
                      </a>
                    </li>
                    <li class="footer-menu__item">
                      <a href="/ipl-app" class="footer-menu__link"> IPL App </a>
                    </li>
                    <div class="collapse" id="collapseFooter2">
                      <div class="collapsable-inner">
                        <li class="footer-menu__item">
                          <a
                            href="/"
                            aria-current="page"
                            class="footer-menu__link nuxt-link-exact-active nuxt-link-active"
                          >
                            Online Betting in India
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/sports/football" class="footer-menu__link">
                            Football Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/sports/basketball"
                            class="footer-menu__link"
                          >
                            Basketball Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/sports/tennis" class="footer-menu__link">
                            Tennis Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/sports/table-tennis"
                            class="footer-menu__link"
                          >
                            Table Tennis Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/sports/baseball" class="footer-menu__link">
                            Baseball Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/sports/cricket" class="footer-menu__link">
                            Cricket Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/sports/horse-racing"
                            class="footer-menu__link"
                          >
                            Horse Racing Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/live" class="footer-menu__link">
                            Live Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/live/cricket" class="footer-menu__link">
                            Live Cricket Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino" class="footer-menu__link">
                            Online Casino
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino/slots" class="footer-menu__link">
                            Online Slots
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino/new-games" class="footer-menu__link">
                            New Games
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/casino/video-poker"
                            class="footer-menu__link"
                          >
                            Video Poker
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino/blackjack" class="footer-menu__link">
                            Online Blackjack
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino/roulette" class="footer-menu__link">
                            Online Roulette
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/live-dealers/roulette"
                            class="footer-menu__link"
                          >
                            Live Roulette
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/live-dealers" class="footer-menu__link">
                            Live Casino
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a
                            href="/sports/cricket-ipl"
                            class="footer-menu__link"
                          >
                            IPL Cricket Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/live/cricket-ipl" class="footer-menu__link">
                            Live IPL Cricket Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/review" class="footer-menu__link">
                            4rabet Review
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/sports/ipl" class="footer-menu__link">
                            IPL Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/live/ipl" class="footer-menu__link">
                            Live IPL Betting
                          </a>
                        </li>
                        <li class="footer-menu__item">
                          <a href="/casino/baccarat" class="footer-menu__link">
                            Online Baccarat
                          </a>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            </nav>
            <a
              data-bs-toggle="collapse"
              href="#collapseFooter2"
              role="button"
              aria-expanded="false"
              aria-controls="collapseFooter2"
              style="font-size: 12px"
            >
              Show more...
            </a>
          </div>
          <div class="col-md-8 ps-md-4 mt-md-0 mt-4">
            <div class="footer__content">
              <!---->
              <p class="footer__text site-info" style="font-size: 12px">
                Support mail:
                <a
                  href="mailto:support@4rabet.com"
                  style="font-size: 12px"
                  class="footer__link"
                  >support@4rabet.com</a
                >
              </p>
            </div>
            <div class="social--panel">
              <a
                href="https://www.instagram.com/4rabetcom_official/"
                rel="noreferrer"
                target="_blank"
                class="social__link"
                ><img
                  src="https://ifrd.4rabet4.com/img/svg/instagram.svg"
                  width="24"
                  height="24"
                  class="social__img"
              /></a>
              <a
                href="https://www.instagram.com/4rabetcom_official/"
                rel="noreferrer"
                target="_blank"
                class="social__link ms-2"
                ><img
                  src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png"
                  width="24"
                  height="24"
                  class="social__img"
              /></a>
            </div>
            <div class="copyright footer__copyright mt-md-4 mt-3">
              <p class="copyright__text" style="font-size: 12px">
                Copyright © 2024 4raBet.
              </p>
              <p class="copyright__text" style="font-size: 12px">
                All rights are reserved and protected by law
              </p>
            </div>
          </div>
        </div>
      </div>
      <img
        src="https://ifrd.4rabet4.com/img/svg/plus-18.svg"
        width="115"
        height="115"
        class="footer__bg-img"
        data-v-37cb4522=""
      />
    </div>
    <!---->
  </div>
</footer>
