<div class="min-wrapper">
  <app-profile-sidebar></app-profile-sidebar>
  <div class="content-wrapper">
    <div class="page-title d-lg-flex d-none">
      <h3 class="d-flex mb-0 align-items-center gap-2">
        <span class="material-symbols-outlined fs-2"> payments </span>
        Withdraw
      </h3>
    </div>
    <div class="group-slots pt-4">
      <div class="row">
        <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-4">
          <div class="account-details">
            <div class="sectionList">
              <p class="fw-medium">Account Number:</p>
              <div>
                <p>1116155000077568</p>
                <span class="material-symbols-outlined"> content_copy </span>
              </div>
            </div>
            <div class="sectionList">
              <p class="fw-medium">Account Holder Name:</p>
              <div>
                <p>uthayajothi</p>
                <span class="material-symbols-outlined"> content_copy </span>
              </div>
            </div>
            <div class="sectionList">
              <p class="fw-medium">Bank Name:</p>
              <div>
                <p>karur vysya bank</p>
                <span class="material-symbols-outlined"> content_copy </span>
              </div>
            </div>
            <div class="sectionList">
              <p class="fw-medium">IFSC Code:</p>
              <div>
                <p>kvbl0001116</p>
                <span class="material-symbols-outlined"> content_copy </span>
              </div>
            </div>
          </div>
          <ul class="text-white">
            <li class="mb-0">
              <h5 class="text-danger mb-3">Please Note</h5>
            </li>
            <li>
              <span class="material-symbols-outlined"> east </span>
              Deposit money only in the above available account to get the
              fastest credit & avoid possible delays.
            </li>
            <li>
              <span class="material-symbols-outlined"> east </span>
              After Deposit, upload your deposit slip screenshot to receive
              balance.
            </li>
            <li>
              <span class="material-symbols-outlined"> east </span>
              Requested amount should be the same as deposit slip amount for
              smooth deposit process.
            </li>
            <li class="mb-0">
              <span class="material-symbols-outlined"> east </span>
              NFT receiving time is from 40 minutes to 2 hours.
            </li>
          </ul>
        </div>
        <div class="col-md-6 order-md-2 order-1">
          <form class="deposit-form">
            <label for="file_upload">Upload File</label>
            <div class="input-group mb-3">
              <input
                id="file_upload"
                type="file"
                class="form-control"
                value=""
              />
            </div>
            <label for="amount">Amount</label>
            <div class="input-group mb-3">
              <input
                id="amount"
                type="text"
                class="form-control"
                placeholder="Amount"
                value=""
              />
            </div>
            <div>
              <div class="qa_wrap">
                <button class="btn btn-info">+500</button>
                <button class="btn btn-info">+1000</button>
                <button class="btn btn-info">+2000</button>
                <button class="btn btn-info">+5000</button>
                <button class="btn btn-info">+10000</button>
                <button class="btn btn-info">+20000</button>
                <button class="btn btn-info">+25000</button>
                <button class="btn btn-info">+50000</button>
                <button class="btn btn-info">+100000</button>
              </div>
            </div>
            <label for="amount">Unique Transaction Reference</label>
            <div class="input-group mb-3">
              <input
                id="amount"
                type="text"
                class="form-control"
                placeholder="6 to 12 Digits UTR Number"
                value=""
              />
            </div>
            <div class="add-account-btn mt-2">
              <button type="submit" class="btn btn-primary w-100">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <app-rightaside></app-rightaside>
</div>
